<header>
    <nav class="header-nav">
        <!-- LOGO -->
        <a class="logo-header" routerLink="/">
            <img class="logo-img" src="assets/logo/cc-logo-large.png" alt="logo clara charriau">
            <h1>Clara Charriau</h1>
        </a>

         <!-- Burger -->
         <input id="menu-toggle" type="checkbox" />
         <label class='menu-button-container' for="menu-toggle">
             <div class='menu-button'></div>
         </label>
        <!-- MENU -->
        <div class="navbar nav-left menu">
                    <a routerLink="/about">À propos</a>
                    <a href="uploads/charriau-clara-resume.pdf" target="_blank">CV</a>
                    <a routerLink="/">Projets</a>
                    <a routerLink="/">Vidéos</a>
                    <a routerLink="/">Sketches</a>
                    <a routerLink="/">Contact</a>
        </div>
       
    </nav>
</header>