<section>
<!-- First block About me -->
<div class="row">
    <div class="about-me-blocks">
        <p class="about-me-text">
            Bonjour ! Je suis Clara.<br><br>

            Après des études et des expériences dans l'industrie du cinéma, je me dirige vers le développement web.<br><br>
                Passionnée de création <span>numérique et graphique</span>, j'apprends à coder pour contribuer à de futurs projets innovants.
            
        </p>
    </div>

    <div class="about-me-blocks">
        <img class="profile-picture" src="/assets/img/about/profilepicture.jpg" alt="photo de profil">
    </div>

</div>

<!-- Second block About me -->
<div class="row">

    <div class="about-me-blocks">
        <img class="being-creative" src="/assets/img/about/beingcreative.jpeg" alt="photo du film Le Ballon Rouge">
    </div>

    <div class="about-me-blocks">
        <p class="about-me-text"> J'adore être <span>créative</span> tout en restant pragmatique.<br>

            Dans mes expériences de gestion de projet, j'ai toujours essayé de trouver les meilleurs compromis entre les besoins, les demandes et les ressources disponibles.
            
            <br><br>Avant, j'étudiais des scénarios de film, leur dramaturgie et leurs marchés possibles, <span>j'analyse et propose</span>désormais des solutions pour des projets numériques.
            
        </p>
    </div>
</div>
</section>