<section>
<!-- First block About me -->
<div class="row">
    <div class="about-me-blocks">
        <p class="about-me-text">
            <strong>Hi ! I'm Clara.</strong><br><br>

            <strong>After studies and experiences in the cinema industry, I'm currently moving towards web
                development.<br><br>
                Passionate about <span>digital & graphic creation</span>, I'm learning to code to contribute to future
                innovative projects.</strong>
        </p>
    </div>

    <div class="about-me-blocks">
        <img class="profile-picture" src="/assets/img/about/profilepicture.jpg" alt="photo de profil">
    </div>

</div>

<!-- Second block About me -->
<div class="row">

    <div class="about-me-blocks">
        <img class="being-creative" src="/assets/img/about/beingcreative.jpeg" alt="photo du film Le Ballon Rouge">
    </div>

    <div class="about-me-blocks">
        <p class="about-me-text"><strong>I love being <span>creative</span> while remaining pragmatic.<br>In my project
                management experiences, I have always tried to find the best compromise between needs, demands and
                resources.<br><br>I used to analyze scenarios: their dramaturgy and their possible markets. I will also
                be
                able to <span>analyze & propose solutions</span> that can be implemented for digital projects.</strong>
        </p>
    </div>
</div>
</section>