<section class="experience-section">

    <div class="col-left">

        <!-- Expérience pro -->
        <h2 class="curriculum-title">Expériences</h2>
        <ul class="experiences">
            <li>Industry Village Event assistant | LES ARCS FILM FESTIVAL</li>
            <li>August - December 2021 | Paris</li>
            <li>Assistante de production | IOTA PRODUCTION</li>
            <li>March - August 2021 | Brussels</li>
            <li>Assistante Community Management | PREMIERS PLANS ANGERS FIRST FILM FESTIVAL</li>
            <li>2016 - 2019 | Angers</li>
            <li>Assistante Community Management | FESTIVAL AUGENBLICK</li>
            <li>2017 - 2018 | Strasbourg</li>
            <li>Vidéaste | THALES GROUP, INTERBIO, ETC.</li>
            <li>2016 | Cholet & Angers</li>
            <li>Créatrice de La Nuit du Cinéma des Étudiants | FÉ2A</li>
            <li>2015 - 2016 | Angers</li>
        </ul>

        <!-- Languages -->
        <h2 class="curriculum-title"><br>Langages</h2>
        <ul class="languages">
            <li><span>Anglais</span> - Avancé</li>
            <li><span>Allemand</span> - Intermédiaire</li>
        </ul>


    </div>

    <div class="col-right">

        <!-- Education -->
        <h2 class="curriculum-title">Formations</h2>

        <ul class="experiences">
            <li>Formation intensive en développement web</li>
            <li>sept 2022 - sept 2024 | Simplon | Paris</li>

            <li>Master en Coproduction Internationale d'Oeuvres de Cinéma et Audiovisuelles</li>
            <li>2021 | Université de Strasbourg</li>
            <li>Licence de Cinéma (Arts du Spectacle)</li>
            <li>2019 | Université de Strasbourg</li>
            <li>Diplôme Universitaire en Maths & Physiques</li>
            <li>2016 | Université Catholique de l'Ouest</li>
            <li>Première année en Information & Communication</li>
            <li>2015 | Université Catholique de l'Ouest</li>
            <li>Baccalauréat Littéraire</li>
            <li>2014</li>
        </ul>

        <!-- Certifications -->
        <h2 class="curriculum-title"><br>Certifications</h2>
        <ul class="certif">
            <li>
                <svg class="scholar-logo" id="Icons" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle class="st0" cx="22" cy="19" r="4"/><polyline class="st0" points="25,22 25,31 22,30 19,31 19,22 "/><line class="st0" x1="7" x2="18" y1="11" y2="11"/><line class="st0" x1="7" x2="12" y1="15" y2="15"/><polyline class="st0" points="19,26 3,26 3,6 29,6 29,26 25,26 "/></svg>
                <span>Gérer un projet avec les
                    méthodes agiles</span> Simplon - 2023</li>
            <li>
                <svg class="scholar-logo" id="Icons" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle class="st0" cx="22" cy="19" r="4"/><polyline class="st0" points="25,22 25,31 22,30 19,31 19,22 "/><line class="st0" x1="7" x2="18" y1="11" y2="11"/><line class="st0" x1="7" x2="12" y1="15" y2="15"/><polyline class="st0" points="19,26 3,26 3,6 29,6 29,26 25,26 "/></svg>
                <span>Créer un site avec un CMS (WordPress)</span> Simplon - 2022</li>
            <li>
                <svg class="scholar-logo" id="Icons" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle class="st0" cx="22" cy="19" r="4"/><polyline class="st0" points="25,22 25,31 22,30 19,31 19,22 "/><line class="st0" x1="7" x2="18" y1="11" y2="11"/><line class="st0" x1="7" x2="12" y1="15" y2="15"/><polyline class="st0" points="19,26 3,26 3,6 29,6 29,26 25,26 "/></svg>
                <span>Fondamentaux
                    du marketing digital</span> Google - 2022</li>
        </ul>

    </div>

</section>