<section class="skills-section">

    <div class="skills-box">

        <h3 class="curriculum-title">Soft skills</h3>

        <!-- Resourcefulness -->
        <div class="progress-container">
            <span class="progress-badge">Resourcefulness</span><br>
            <span class="progress-details">Curious & motivated</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 100%;"></div>
                <span class="progress-value">100%</span>
            </div>
        </div>

        <!-- Problem solving -->
        <div class="progress-container">
            <span class="progress-badge">Problems solving</span><br>
            <span class="progress-details">Dedicated & persevering</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 95%;"></div>
                <span class="progress-value">95%</span>
            </div>
        </div>

        <!-- Creativity -->
        <div class="progress-container">
            <span class="progress-badge">Creativity</span><br>
            <span class="progress-details">Video & photo editing, illustrations</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 85%;"></div>
                <span class="progress-value">85%</span>
            </div>
        </div>

        <!-- Research -->
        <div class="progress-container">
            <span class="progress-badge">Research</span><br>
            <span class="progress-details">Analysis & synthesis, redaction</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 80%;"></div>
                <span class="progress-value">80%</span>
            </div>
        </div>

        <!-- Project management -->
        <div class="progress-container">
            <span class="progress-badge">Project management</span><br>
            <span class="progress-details">Professionnal events, film production</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 75%;"></div>
                <span class="progress-value">75%</span>
            </div>
        </div>

        <!-- Communication -->
        <div class="progress-container">
            <span class="progress-badge">Communication</span><br>
            <span class="progress-details">Social medias, press release</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 75%;"></div>
                <span class="progress-value">75%</span>
            </div>
        </div>

    </div>


    <div class="skills-box">

        <h3 class="curriculum-title">Abilities</h3>

        <!-- Video editing & graphism -->
        <div class="progress-container">
            <span class="progress-badge">Video editing & graphism</span><br>
            <span class="progress-details xs-progress">Adobe Premiere, Final Cut, Photoshop, InDesign</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 85%;"></div>
                <span class="progress-value">85%</span>
            </div>
        </div>

        <!-- Office tools -->
        <div class="progress-container">
            <span class="progress-badge">Office tools</span><br>
            <span class="progress-details">Office workspace, Google workspace</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 80%;"></div>
                <span class="progress-value">80%</span>
            </div>
        </div>

        <!-- CMS -->
        <div class="progress-container">
            <span class="progress-badge">CMS</span><br>
            <span class="progress-details">Wordpress, Webflow</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 70%;"></div>
                <span class="progress-value">70%</span>
            </div>
        </div>

        <!-- Wireframes -->
        <div class="progress-container">
            <span class="progress-badge">Modeling & wireframing</span><br>
            <span class="progress-details">Figma</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 70%;"></div>
                <span class="progress-value">70%</span>
            </div>
        </div>

        <!-- HTML & CSS -->
        <div class="progress-container">
            <span class="progress-badge">HTML & CSS</span><br>
            <span class="progress-details">Bootstrap</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 70%;"></div>
                <span class="progress-value">70%</span>
            </div>
        </div>

        <!-- JavaScript -->
        <div class="progress-container">
            <span class="progress-badge">JavaScript, TypeScript</span><br>
            <span class="progress-details">Experimenting Angular 🛠</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 40%;"></div>
                <span class="progress-value">40%</span>
            </div>
        </div>

        <!-- Java -->
        <div class="progress-container">
            <span class="progress-badge">Java</span><br>
            <span class="progress-details">J2e</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 20%;"></div>
                <span class="progress-value">20%</span>
            </div>
        </div>

    </div>

</section>