<section class="skills-section">

    <div class="skills-box">

        <h3 class="curriculum-title">Soft skills</h3>

        <!-- Resourcefulness -->
        <div class="progress-container">
            <span class="progress-badge">Dynamisme</span><br>
            <span class="progress-details">Curieuse et motivée</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 100%;"></div>
                <span class="progress-value">100%</span>
            </div>
        </div>

        <!-- Problem solving -->
        <div class="progress-container">
            <span class="progress-badge">Résolution de problèmes</span><br>
            <span class="progress-details">Persévérante</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 95%;"></div>
                <span class="progress-value">95%</span>
            </div>
        </div>

        <!-- Creativity -->
        <div class="progress-container">
            <span class="progress-badge">Créativité</span><br>
            <span class="progress-details">Création photo et vidéo, dessin</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 85%;"></div>
                <span class="progress-value">85%</span>
            </div>
        </div>

        <!-- Research -->
        <div class="progress-container">
            <span class="progress-badge">Recherche</span><br>
            <span class="progress-details">Analyse et synthèse, rédation</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 80%;"></div>
                <span class="progress-value">80%</span>
            </div>
        </div>

        <!-- Project management -->
        <div class="progress-container">
            <span class="progress-badge">Management de projet</span><br>
            <span class="progress-details">Èvènement professionnel, tournage de film</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 75%;"></div>
                <span class="progress-value">75%</span>
            </div>
        </div>

        <!-- Communication -->
        <div class="progress-container">
            <span class="progress-badge">Communication</span><br>
            <span class="progress-details">Réseaux-sociaux, communiqué de presse</span>
            <div class="progress-yellow">
                <div class="progress-bar-yellow" style="width: 75%;"></div>
                <span class="progress-value">75%</span>
            </div>
        </div>

    </div>


    <div class="skills-box">

        <h3 class="curriculum-title">Compétences</h3>

        <!-- Video editing & graphism -->
        <div class="progress-container">
            <span class="progress-badge">Montage vidéo, graphisme</span><br>
            <span class="progress-details xs-progress">Adobe Premiere, Final Cut, Photoshop, InDesign</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 85%;"></div>
                <span class="progress-value">85%</span>
            </div>
        </div>

        <!-- Office tools -->
        <div class="progress-container">
            <span class="progress-badge">Outils bureautique</span><br>
            <span class="progress-details">Microsoft Office, Google workspace</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 80%;"></div>
                <span class="progress-value">80%</span>
            </div>
        </div>

        <!-- CMS -->
        <div class="progress-container">
            <span class="progress-badge">CMS</span><br>
            <span class="progress-details">Wordpress, Webflow</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 70%;"></div>
                <span class="progress-value">70%</span>
            </div>
        </div>

        <!-- Wireframes -->
        <div class="progress-container">
            <span class="progress-badge">Modélisation & wireframing</span><br>
            <span class="progress-details">Figma</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 70%;"></div>
                <span class="progress-value">70%</span>
            </div>
        </div>

        <!-- HTML & CSS -->
        <div class="progress-container">
            <span class="progress-badge">HTML & CSS</span><br>
            <span class="progress-details">Bootstrap</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 70%;"></div>
                <span class="progress-value">70%</span>
            </div>
        </div>

        <!-- JavaScript -->
        <div class="progress-container">
            <span class="progress-badge">JavaScript, TypeScript</span><br>
            <span class="progress-details">En apprentissage d'Angular 🛠</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 40%;"></div>
                <span class="progress-value">40%</span>
            </div>
        </div>

        <!-- Java -->
        <div class="progress-container">
            <span class="progress-badge">Java</span><br>
            <span class="progress-details">J2e</span>
            <div class="progress-green">
                <div class="progress-bar-green" style="width: 20%;"></div>
                <span class="progress-value">20%</span>
            </div>
        </div>

    </div>

</section>